.footer {
    Background-Color: #e10a34;
    padding: 30px 0px;
    margin-top: auto;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-weight: bolder;


}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(255, 255, 255);
    font-size: 0.8em;

}

.footer .row a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}


.footer .row a:hover{
    color:#413f3f;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;

    }

    .footer .row a i {
        margin: 0% 3%;
    }
}



@Media Screen And (Max-Width: 768px) {
    .footer .row ul {
        width: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .footer .row {
        width: auto;
        margin: auto;
        padding: 0.6% 0%;
        color: rgb(255, 255, 255);
        font-size: 0.8em;
        


    }
}