@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,900;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
}
.herotext{
  font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

.events .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.events .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: .5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.events .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.events .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.events .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.events .box-container .box:hover .title {
  top: 0;
}

.events .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.events .box-container .box:hover .icons {
  bottom: 0;
}

.events .box-container .box .icons a {
  font-size: 2rem;
  margin: .5rem 1rem;
  color: #fff;
}

.events .box-container .box .icons a:hover {
  color: var(--main-color);
}