@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

Nav {
    position: fixed;
    justify-content: space-between;
    flex-shrink: shrink;
    Z-Index: 10;
    Left: 0;
    Right: 0;
    Top: 0;
    Font-Family: "Montserrat", "Sans-Serif";
    Height: 70px;
    /* Background-Color:rgba(255, 0, 0, 0.4); */
    Background-Color:#e10a34;
    width: auto;
    Padding: 0 1%;
    display: flex;
  }

  Nav .Logo {
    Float: Left;
    Width: auto;
    Height: 100%;
    Display: Flex;
    Align-Items: Center;
    Font-Size: 20px;
    Color: white;
    font-family: 'Poppins', sans-serif;
  }

  Nav .Links {
    Float: Right;
    Padding: 0;
    Margin: 0;
    Width: auto;
    Height: 100%;
    Display: Flex;
    Justify-Content: Center;
    Align-Items: Center;
  }

  Nav .Links Li {
    List-Style: None;
  }

  Nav .Links A {
    Display: Block;
    Padding: 1em;
    Font-Size: 16px;
    Font-Weight: Bold;
    Color: white;
    Text-Decoration: None;
    Position: Relative;
    font-family: 'Poppins', sans-serif;
  }

  Nav .Links A::Before {
    Content: "";
    Position: Absolute;
    Bottom: 0;
    Left: 0;
    Width: 100%;
    Height: 2px;
    Background-Color: White;
    Visibility: Hidden;
    Transform: ScaleX(0);
    Transition: All 0.3s Ease-In-Out 0s;
  }

  Nav .Links A:hover::Before {
    Visibility: Visible;
    Transform: ScaleX(1);
    Color: rgb(229, 14, 14);
  }

  #Nav-Toggle {
    Position: Absolute;
    Top: -100px;
  }

  Nav .Icon-Burger {
    Display: None;
    Position: Absolute;
    Right: 5%;
    Top: 50%;
    Transform: TranslateY(-50%);
  }

  Nav .Icon-Burger .Line {
    Width: 30px;
    Height: 5px;
    Background-Color: #ffffff;
    Margin: 5px;
    Border-Radius: 3px;
    Transition: All 0.5s Ease-In-Out;
  }

  @Media Screen And (Max-Width: 768px) {
    Nav .Logo {
      Float: None;
      Width: Auto;
      Justify-Content: Center;
    }

    Nav .Links {
      Float: None;
      Position: Fixed;
      Z-Index: 9;
      Left: 0;
      Right: 0;
      Top: 70px;
      Bottom: 100%;
      Width: Auto;
      Height: Auto;
      Flex-Direction: Column;
      Justify-Content: Space-Evenly;
      Background-Color: Rgba(0, 0, 0, 0.8);
      Overflow: Hidden;
      Transition: All 0.5s Ease-In-Out;
    }

    Nav .Links A {
      Font-Size: 20px;
    }

    Nav :Checked~.Links {
      Bottom: 0;
    }

    Nav .Icon-Burger {
      Display: Block;
    }

    Nav :Checked~.Icon-Burger .Line:nth-Child(1) {
      Transform: TranslateY(10px) Rotate(225deg);
    }

    Nav :Checked~.Icon-Burger .Line:nth-Child(3) {
      Transform: TranslateY(-10px) Rotate(-225deg);
    }

    Nav :Checked~.Icon-Burger .Line:nth-Child(2) {
      Opacity: 0;
    }
  }


