<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Coordinators</title>
    <link
      href="Https://Fonts.Googleapis.Com/Css2?Family=Montserrat:wght@200&Display=Swap"
      rel="Stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link rel="Stylesheet" href="../../styles/centralcoordinator.css" />
    <link rel="Stylesheet" href="../../styles/Navbar.css"/>
    <link rel="Stylesheet" href="../../styles/Footer.css"/>
</head>
<body>
    <div class="fontBold">
        <!-- Navbar start -->
            <nav>
              <input type="checkbox" id="Nav-Toggle" />
              <div class="Logo"><a href="/index.html"><strong>Gajajyoti</strong></a></div>
              <ul class="Links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../event.html">Events</a></li>
                <li><a href="../coordinators.html">Coordinators</a></li>
                <li><a href="../contact.html">Contact us</a></li>
              </ul>
              <label for="Nav-Toggle" class="Icon-Burger">
                <div class="Line"></div>
                <div class="Line"></div>
                <div class="Line"></div>
              </label>
            </nav>
            <label for="Nav-Toggle" class="Icon-Burger">
              <div class="Line"></div>
              <div class="Line"></div>
              <div class="Line"></div>
            </label>
        <!-- Navbar End -->
        <div class=" items-center justify-center backdrop-blur-sm">
            <strong class="text-rose-700 my-10  flex justify-center items-center">
                <h2
                  class=" md:leading-loose herotext mt-4 text-transparent  bg-clip-text 
                  bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 herotext">
                  Central Coordinators
                </h2>
              </strong>

            <div class="row">
                <div class="column">
                  <div class="card">
                    <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                    <div class="container">
                      <h2>Pritam Kumar Nayak</h2>
                      <p class="title">Central &amp; Coordinator</p>
                      <p>Designed and developed Gajajyoti posters</p>
                      <p>190301121115@cutm.ac.in</p>
                      <p>+91 70083916931</p>
                    </div>
                  </div>
                </div>
              
                <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>A Shiba Reddy</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed Gajajyoti posters</p>
                        <p>190301230003@cutm.ac.in</p>
                        <p>+91 9583020400</p>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Phanibhusan Das</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed </p>
                        <p>191516100027@cutm.ac.in</p>
                        <p>+91 9337966439</p>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Sagardeep Rana</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed</p>
                        <p>191516100027@cutm.ac.in</p>
                        <p>+91 6372866290</p>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="row">
                <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Ritik Rajat Behera</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed Gajajyoti posters</p>
                        <p>191516100012@cutm.ac.in</p>
                        <p>+91 9439858165</p>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Pratyusha Patra</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed Gajajyoti posters</p>
                        <p>191516100046@cutm.ac.in</p>
                        <p>+91 7326846366</p>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Sachidananda Panda</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed Gajajyoti posters</p>
                        <p>200301130002@cutm.ac.in</p>
                        <p>+91 7205494211</p>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="card">
                      <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                      <div class="container">
                        <h2>Om Prakash Mohanty</h2>
                        <p class="title">Poster &amp; designer</p>
                        <p>Designed and developed Gajajyoti posters</p>
                        <p>200301120012@cutm.ac.in</p>
                        <p>+91 9178517988</p>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    
                  
                    <div class="column">
                        <div class="card">
                          <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                          <div class="container">
                            <h2>Biswas Rout</h2>
                            <p class="title">Poster &amp; designer</p>
                            <p>Designed and developed Gajajyoti posters</p>
                            <p>211704220025@cutm.ac.in</p>
                            <p>+91 9861106494</p>
                          </div>
                        </div>
                      </div>
    
                      <div class="column">
                        <div class="card">
                          <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                          <div class="container">
                            <h2>Abhilash Chyau Pattanaik</h2>
                            <p class="title">Poster &amp; designer</p>
                            <p>Designed and developed Gajajyoti posters</p>
                            <p>200409120026@cutm.ac.in</p>
                            <p>+91 6371249320</p>
                          </div>
                        </div>
                      </div>
    
                      <div class="column">
                        <div class="card">
                          <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                          <div class="container">
                            <h2>Renukanta Naik</h2>
                            <p class="title">Poster &amp; designer</p>
                            <p>Designed and developed Gajajyoti posters</p>
                            <p>220705100007@cutm.ac.in</p>
                            <p>+91 7978991609</p>
                          </div>
                        </div>
                      </div>

                      <div class="column">
                        <div class="card">
                          <img src="../../../Pictures/coordinatorspic/user.png" alt="" style="width:50%">
                          <div class="container">
                            <h2>Rajat Kumar Sen</h2>
                            <p class="title">Poster &amp; designer</p>
                            <p>Designed and developed Gajajyoti posters</p>
                            <p>19031120047@cutm.ac.in</p>
                            <p>+91 9583020400</p>
                          </div>
                        </div>
                      </div>
                      </div>
          


</div>
    </div>
    <!-- Footer start -->
    <footer>
        <div class="footer">
          <div class="row">
            <a href="https://www.facebook.com/centurionuniversity/"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/cutm_shout_out_/?hl=en"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.youtube.com/@cutmodisha7103"
              ><i class="fa fa-youtube"></i
            ></a>
            <a
              href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
  
          <div class="row">
            <ul>
              <li><a href="/index.html">Home</a></li>
              <li><a href="../about.html">About</a></li>
              <li><a href="../event.html">Events</a></li>
              <li><a href="../coordinators.html">Coordinators</a></li>
              <li><a href="../contact.html">Contacts</a></li>
              <li><a href="../gallery.html">Gallery</a></li>
            </ul>
          </div>
  
          <div class="row">
            Copyright © 2023 Centurion University of Technology - All rights
            reserved
          </div>
        </div>
      </footer>
    <!-- Footer End -->
</body>
</html>