<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cultural</title>
    <link
      href="Https://Fonts.Googleapis.Com/Css2?Family=Montserrat:wght@200&Display=Swap"
      rel="Stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link rel="Stylesheet" href="../../styles/cultural.css" />
    <link rel="Stylesheet" href="../../styles/Navbar.css" />
    <link rel="Stylesheet" href="../../styles/Footer.css" />
  </head>
  <body>
    <div class="fontBold">
      <!-- Navbar start -->
      <nav>
        <input type="checkbox" id="Nav-Toggle" />
        <div class="Logo">
          <a href="/index.html"><strong>Gajajyoti</strong></a>
        </div>
        <ul class="Links">
          <li><a href="/index.html">Home</a></li>
          <li><a href="../about.html">About</a></li>
          <li><a href="../Expo.html">Expo</a></li>
          <li><a href="../event.html">Events</a></li>
          <li><a href="../coordinators.html">Coordinators</a></li>
          <li><a href="../contact.html">Contact us</a></li>
        </ul>
        <label for="Nav-Toggle" class="Icon-Burger">
          <div class="Line"></div>
          <div class="Line"></div>
          <div class="Line"></div>
        </label>
      </nav>
      <label for="Nav-Toggle" class="Icon-Burger">
        <div class="Line"></div>
        <div class="Line"></div>
        <div class="Line"></div>
      </label>
      <!-- Navbar End -->
      <div class="items-center justify-center backdrop-blur-sm">
        <strong
          class="text-rose-700 my-10 mt-16 flex justify-center items-center"
        >
          <h2
            class="md:leading-loose herotext mt-4 text-transparent text-white herotext text-5xl"
          >
          Cultural
          </h2>
        </strong>

        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1">
          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2 class="">A SHIBA REDDY</h2>
                <p>190301230003@cutm.ac.in</p>
                <p>+91 9583020400</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>RENUKANTA NAIK</h2>
                <p>220705100007@cutm.ac.in</p>
                <p>+91 7978991609</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>ASUTOSH SATPATHY</h2>
                <p>200301120016@cutm.ac.in</p>
                <p>+91 9937155293</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>ARYA DAS</h2>
                <p>210704170008@cutm.ac.in</p>
                <p>+91 7608029115</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>DEBA PRIYA MANNA</h2>
                <p>200301130009@cutm.ac.in</p>
                <p>+91 9348219662</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>BHABANI SHANKAR PATRO</h2>
                <p>191516100018@cutm.ac.in</p>
                <p>+91 9348864218</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div
              class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300"
            >
              <img
                src="../../../Pictures/coordinatorspic/"
                class="mt-10"
                alt=""
                style="width: 50%"
              />
              <div
                class="container flex flex-col justify-center items-center py-10"
              >
                <h2>RUDRA PRAKASH NATH</h2>
                <p>210301120048@cutm.ac.in</p>
                <p>+91 7846813699</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- Footer start -->
    <footer>
      <div class="footer">
        <div class="row">
          <a href="https://www.facebook.com/centurionuniversity/"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/gajajyoti_bbsr_cutm/"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/@cutmodisha7103"
            ><i class="fa fa-youtube"></i
          ></a>
          <a
            href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../event.html">Events</a></li>
            <li><a href="../coordinators.html">Coordinators</a></li>
            <li><a href="../contact.html">Contacts</a></li>
            <li><a href="../gallery.html">Gallery</a></li>
          </ul>
        </div>

        <div class="row">
          Copyright © 2023 Centurion University of Technology - All rights
          reserved
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
