<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decoration</title>
    <link href="Https://Fonts.Googleapis.Com/Css2?Family=Montserrat:wght@200&Display=Swap" rel="Stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="Stylesheet" href="../../styles/decoration.css" />
    <link rel="Stylesheet" href="../../styles/Navbar.css" />
    <link rel="Stylesheet" href="../../styles/Footer.css" />
</head>

<body>
    <div class="fontBold">
        <!-- Navbar start -->
        <nav>
            <input type="checkbox" id="Nav-Toggle" />
            <div class="Logo">
                <a href="/index.html"><strong>Gajajyoti</strong></a>
            </div>
            <ul class="Links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../Expo.html">Expo</a></li>
                <li><a href="../event.html">Events</a></li>
                <li><a href="../coordinators.html">Coordinators</a></li>
                <li><a href="../contact.html">Contact us</a></li>
            </ul>
            <label for="Nav-Toggle" class="Icon-Burger">
                <div class="Line"></div>
                <div class="Line"></div>
                <div class="Line"></div>
            </label>
        </nav>
        <label for="Nav-Toggle" class="Icon-Burger">
            <div class="Line"></div>
            <div class="Line"></div>
            <div class="Line"></div>
        </label>
        <!-- Navbar End -->
        <div class="items-center justify-center backdrop-blur-sm">
            <strong class="text-rose-700 my-10 mt-16 flex justify-center items-center">
                <h2 class="md:leading-loose herotext mt-4 text-transparent text-white herotext text-5xl">
                    Prize & Certificate Distribution
                </h2>
            </strong>

            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1">
                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2 class="">A SRIYA</h2>
                            <p>200301120079@cutm.ac.in</p>
                            <p>+91 8260036298</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>RAJAT KUMAR SEN</h2>
                            <p>190301120047@cutm.ac.in</p>
                            <p>+91 7978270552</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>PRANAB KUMAR AGASTI</h2>
                            <p>200301120006@cutm.ac.in</p>
                            <p>+91 9348107025</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>BHUMALIN RANA</h2>
                            <p>210705180093@cutm.ac.in</p>
                            <p>+91 9571335357</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>SMRUTI REKHA KHUNTIA</h2>
                            <p>221604420003@cutm.ac.in</p>
                            <p>+91 9337194617</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>ADARSH KUMAR BARIK</h2>
                            <p>200301120050@cutm.ac.in</p>
                            <p>+91 9938941546</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>BISWAJIT PUHAN</h2>
                            <p>221521110004@cutm.ac.in</p>
                            <p>+91 8917486578</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>MONIKA PAL</h2>
                            <p>210301120158@cutm.ac.in</p>
                            <p>+91 77358 22709</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>BADAL CHANDRA MISHRA</h2>
                            <p>201516100018@cutm.ac.in</p>
                            <p>+91 8270354060</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>ASHISH ROY</h2>
                            <p>201516100055@cutm.ac.in</p>
                            <p>+91 9382364855</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>BIVAS RAJ</h2>
                            <p>201516100009@cutm.ac.in</p>
                            <p>+91 7847959522</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>CHINMAYA MINAKA</h2>
                            <p>221521120002@cutm.ac.in</p>
                            <p>+91 8847812562</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>RAJ GOURAB BEHERA</h2>
                            <p>2191516100032@cutm.ac.in</p>
                            <p>+91 8342880697</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div
                        class="card flex flex-col justify-center items-center bg-gradient-to-r from-orange-300 to-rose-300">
                        <img src="../../../Pictures/coordinatorspic/" class="mt-10" alt="" style="width: 50%" />
                        <div class="container flex flex-col justify-center items-center py-10">
                            <h2>Rajat Kumar Sen</h2>
                            <p>19031120047@cutm.ac.in</p>
                            <p>+91 9583020400</p>
                        </div>
                    </div>
                </div>
                
            </div>


        </div>


    </div>
    </div>
    <!-- Footer start -->
    <footer>
        <div class="footer">
            <div class="row">
                <a href="https://www.facebook.com/centurionuniversity/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/gajajyoti_bbsr_cutm/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/@cutmodisha7103"><i class="fa fa-youtube"></i></a>
                <a href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fa fa-twitter"></i></a>
                <a
                    href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"><i
                        class="fa fa-linkedin"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li><a href="../event.html">Events</a></li>
                    <li><a href="../coordinators.html">Coordinators</a></li>
                    <li><a href="../contact.html">Contacts</a></li>
                    <li><a href="../gallery.html">Gallery</a></li>
                </ul>
            </div>

            <div class="row">
                Copyright © 2023 Centurion University of Technology - All rights
                reserved
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>

</html>