<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" href="../../styles/event.css" />
    <link rel="stylesheet" href="../../styles/Navbar.css" />
    <link rel="stylesheet" href="../../styles/Footer.css" />
    <link rel="stylesheet" href="../../styles/Confetti.css" />

    <title>Skills</title>
</head>

<body>

    <div class="confetti-land">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
    </div>

    <div class="fontBold">
        <!-- Navbar -->
        <Nav>
            <Input Type="checkbox" Id="Nav-Toggle">
            <div class="Logo"><a href="../../index.html"><strong>Gajajyoti</strong></a></div>
            <Ul Class="Links">
                <Li><A Href="/index.html">Home</A></Li>
                <Li><A Href="../about.html">About</A></Li>
                <li><a href="../expo.html">Expo</a></li>
                <Li><A Href="../event.html">Events</A></Li>
                <Li><A Href="../coordinators.html">Coordinators</A></Li>
                <Li><A Href="../contact.html">Contact us</A></Li>
            </Ul>
            <Label For="Nav-Toggle" Class="Icon-Burger">
                <Div Class="Line"></Div>
                <Div Class="Line"></Div>
                <Div Class="Line"></Div>
            </Label>
        </Nav>

        <!-- Navbar -->
        <div class="items-center max-w-full mt-16 md:backdrop-blur-sm">

            <strong class="text-rose-700 my-10  flex justify-center items-center">
                <h2
                    class=" md:leading-loose herotext mt-4 text-transparent  bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 herotext">
                    CENTURION SKILLS
                </h2>

            </strong>

            <div class="flex-col sm:flex  lg:flex-row md:flex-col justify-center items-center">

                <div class="py-10 px-10">
                    <h1 class="font-bold text-2xl my-4">Faculty In-Charge</h1>
                    <div class="my-4">
                        <div>
                            Dr. Nitesh Badgayan
                        </div>
                        <div>nitesh@cutm.ac.in</div>
                    </div>
                    <div class="my-4">
                        <div>
                            Dr. Rajendra Khadanga
                        </div>
                        <div>rajendra.khadanga@cutm.ac.in</div>
                    </div>
                </div>

                            <div class="py-10 px-10">
                                <h1 class="font-bold text-2xl my-4">Student Co-ordinator</h1>
                                <div class="my-4">
                                    <div>
                                        Shaikh HabiburRehaman-
                                    </div>
                                    <div>+91 9777795786</div>
                                </div>
                                <div class="my-4">
                                    <div>
                                        Om Prakash Mohanty
                                    </div>
                                    <div>+91 9178517988</div>
                                </div>
                            </div>
            </div>


            <div class="grid grid-cols-1  text-white lg:grid-cols-4 md:grid-cols-2 gap-8 text-center  px-10 py-10 ">

                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>HEALTH & SOCIAL CARE</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>3D GAME ART</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>3D PRINTING</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>AUTOMOBILE TECH</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>CNC TURNING</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>CYBER SECURITY</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>FURNITURE DESIGN</span>
                </div>
                <div class="bg-red-400 py-4 px-4 flex justify-center items-center rounded-lg text-2xl">
                    <span>APPAREL DESIGN</span>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <div class="row">
                    <a href="https://www.facebook.com/centurionuniversity/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/cutm_shout_out_/?hl=en"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@cutmodisha7103"><i class="fa fa-youtube"></i></a>
                    <a href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                            class="fa fa-twitter"></i></a>
                    <a
                        href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"><i
                            class="fa fa-linkedin"></i></a>
                </div>

                <div class="row">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="../pages/about.html">About</a></li>
                        <li><a href="../pages/event.html">Events</a></li>
                        <li><a href="../pages/coordinators.html">Coordinators</a></li>
                        <li><a href="../pages/contact.html">Contacts</a></li>
                        <li><a href="../pages/gallery.html">Gallery</a></li>
                    </ul>
                </div>

                <div class="row">
                    Copyright © 2023 Centurion University of Technology - All rights reserved
                </div>
            </div>
        </footer>
        <!-- Footer End -->
        <script src="../js/confetti.js"></script>
</body>

</html>