<!DOCTYPE Html>
<Html Lang="En">

<Head>
  <Meta Charset="UTF-8">
  <Meta Name="Viewport" Content="Width=Device-Width, Initial-Scale=1.0">
  <Title>Gajajyoti.cutm.ac.in</Title>
  <Link Href="Https://Fonts.Googleapis.Com/Css2?Family=Montserrat:wght@200&Display=Swap" Rel="Stylesheet">
  <Link Rel="Stylesheet" Href="gajajyoti.css">
</Head>

<Body>
  <Nav>
    <Input Type="checkbox" Id="Nav-Toggle">
    <Div Class="Logo"><Strong>Gajajyoti</Strong></Div>
    <Ul Class="Links">
      <Li><A Href="../Components/pages/home.html">Home</A></Li>
      <Li><A Href="../Components/pages/about.html">About</A></Li>
      <Li><A Href="../Components/pages/event.html">Events</A></Li>
      <Li><A Href="../Components/pages/coordinators.html">Coordinators</A></Li>
      <Li><A Href="../Components/pages/contact.html">Contact us</A></Li>
    </Ul>
    <Label For="Nav-Toggle" Class="Icon-Burger">
      <Div Class="Line"></Div>
      <Div Class="Line"></Div>
      <Div Class="Line"></Div>
    </Label>
  </Nav>

  <Div Class="Container">
    <Img Src="../Pictures/Website wallpaper.png" Alt="">
  </Div>
  <Label For="Nav-Toggle" Class="Icon-Burger">
    <Div Class="Line"></Div>
    <Div Class="Line"></Div>
    <Div Class="Line"></Div>
  </Label>
</Body>
</Html>