<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/Navbar.css" />
    <link rel="stylesheet" href="../styles/Footer.css" />
    <link rel="stylesheet" href="../styles/Confetti.css" />
    <title>About</title>
  </head>

  <body>
    <div class="fontBold">

      <div class="confetti-land">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
      </div>

      <!-- Navbar -->
      <header class="header">
        <nav>
          <input type="checkbox" id="Nav-Toggle" />
          <div class="Logo"><a href="../../index.html"><strong>Gajajyoti</strong></a></div>
          <ul class="Links">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/expo.html">Expo</a></li>
            <li><a href="../pages/event.html">Events</a></li>
            <li><a href="../pages/coordinators.html">Coordinators</a></li>
            <li><a href="../pages/contact.html">Contact us</a></li>
          </ul>
          <label for="Nav-Toggle" class="Icon-Burger">
            <div class="Line"></div>
            <div class="Line"></div>
            <div class="Line"></div>
          </label>
        </nav>
      </header>
      <!-- Navbar -->
      

      <div
        class="flex flex-col items-center max-w-full mt-16 md:backdrop-blur-sm"
      >
        <img src="./../../Pictures/Logoblack.png" class="w-40 mt-5" alt="" />
        <h3 class="hero-txt mt-5 text-4xl">About</h3>
        <p class="p-4 max-w-7xl text-lg mt-4">
          The journey of Centurion University of Technology and Management
          (CUTM) began in the year 2005 by a group of ambitious academics with
          aspirations to provide high quality education both nationally and
          internationally. The first step in this direction was to take over an
          ailing engineering Institute, the Jagannath Institute for Technology
          and Management (JITM) in one of the most challenging tribal districts
          of Odisha and one which was considered to be a left-wing extremist
          affected area. Subsequently, JITM was transformed into Centurion
          University of Technology and Management in August 2010, through an act
          of Odisha Legislative Assembly.
        </p>

        <h2 class="hero-txt mt-5 text-4xl">Our Vision</h2>

        <p class="p-4 max-w-7xl text-lg mt-4">
          Provision of quality ,globally accredited academic programmes in
          technology and management . Facilitating improved market access to
          goods and financial services to the target population. Promotion of
          lighthouse project interventions in the target area.
        </p>

        <h2 class="hero-txt mt-5 text-4xl">Our Mission</h2>

        <p class="p-4 max-w-7xl text-lg mt-4">
          A globally accredited of human resources center of excellence
          catalyzing "sustanable livelihood "in the "less developed markets
          across the globe".
        </p>

        <img src="./../../Pictures/gramtarang.png" class="w-60 mt-16" alt="" />
        <h3 class="hero-txt mt-5 text-4xl">About</h3>
        <p class="p-4 max-w-7xl text-lg mt-4">
          Gram Tarang Employability Training Services Pvt. Ltd. is a social
          entrepreneurial initiative in skill training working in largely
          underdeveloped regions of the country and is committed & towards
          providing young people with high quality vocational education & skill
          training, relevant& recognized certifications resulting in meaningful
          employment & successful careers in the organized sector.
        </p>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="row">
          <a href="https://www.facebook.com/centurionuniversity/"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/cutm_shout_out_/?hl=en"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/@cutmodisha7103"
            ><i class="fa fa-youtube"></i
          ></a>
          <a
            href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/event.html">Events</a></li>
            <li><a href="../pages/coordinators.html">Coordinators</a></li>
            <li><a href="../pages/contact.html">Contacts</a></li>
            <li><a href="../pages/gallery.html">Gallery</a></li>
          </ul>
        </div>

        <div class="row">
          Copyright © 2023 Centurion University of Technology - All rights
          reserved
        </div>
      </div>
    </footer>

    <!-- Footer End -->
    <script src="../js/confetti.js"></script>
  </body>
</html>
