<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" href="./contact.css" />

    <title>Contacts</title>
  </head>

  <body>
    <!-- Navbar -->
    <Nav>
        <Input Type="checkbox" Id="Nav-Toggle">
        <Div Class="Logo"><Strong>Gajajyoti</Strong></Div>
        <Ul Class="Links">
          <Li><A Href="../gajajyoti.html">Home</A></Li>
          <Li><A Href="../pages/about.html">About</A></Li>
          <Li><A Href="../pages/event.html">Events</A></Li>
          <Li><A Href="../pages/coordinators.html">Coordinators</A></Li>
          <Li><A Href="../pages/contact.html">Contact us</A></Li>
        </Ul>
        <Label For="Nav-Toggle" Class="Icon-Burger">
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
        </Label>
      </Nav>
  </header>
    <!-- Navbar -->

    <div class="flex flex-col items-center md:m-8 max-w-full  text-white ">
        <h3 class="hero-txt mt-5 text-4xl">Contact us</h3>
        <p class=" p-4 max-w-7xl text-lg  mt-4">
            <img src="./../../Pictures/gajajyoti 2023 text.png" width="850" height="950" alt="">
        </p>
        <p class=" p-4 max-w-7xl text-lg  mt-4">
            <img src="./../../Pictures/coordinatorslist.jpg" width="850" height="950" alt="">
        </p>
        </div>
  

    <!-- Footer -->
    <footer class=" flex flex-col  md:shrink-0 items-center p-2 max-w-full bg-black   text-white mb-0">
      <p class="mb-2 text-xs">CONNECT WITH US</p>
      <a href="https://www.instagram.com/gajajyoti_2022/?utm_medium=copy_link/" target="_blank"><img
          src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" class="h-10 w-10 mb-2" /></a>
      <div class="flex text-xs ">
        <p>2022 Copyright &copy; <a href="cutm.ac.in">Centurion University of Technology and Management</a> | All rights
          reserved.
        </p>
      </div>
    </footer>
    <!-- Footer End -->
    <script src="./js/script.js"></script>
  </body>
</html>