<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

  <link rel="stylesheet" href="../styles/event.css" />
  <link rel="stylesheet" href="../styles/Navbar.css" />
  <link rel="stylesheet" href="../styles/Footer.css" />
  <link rel="stylesheet" href="../styles/Confetti.css" />

  <title>Event</title>
</head>

<body>

  <div class="confetti-land">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>

  <div class="fontBold">
    <!-- Navbar -->
    <Nav>
      <Input Type="checkbox" Id="Nav-Toggle">
      <div class="Logo"><a href="../../index.html"><strong>Gajajyoti</strong></a></div>
      <Ul Class="Links">
        <Li><A Href="/index.html">Home</A></Li>
        <Li><A Href="../pages/about.html">About</A></Li>
        <li><a href="../pages/expo.html">Expo</a></li>
        <Li><A Href="../pages/event.html">Events</A></Li>
        <Li><A Href="../pages/coordinators.html">Coordinators</A></Li>
        <Li><A Href="../pages/contact.html">Contact us</A></Li>
      </Ul>
      <Label For="Nav-Toggle" Class="Icon-Burger">
        <Div Class="Line"></Div>
        <Div Class="Line"></Div>
        <Div Class="Line"></Div>
      </Label>
    </Nav>
    <!-- Navbar -->
    <div class="items-center max-w-full mt-16 md:backdrop-blur-sm">

      <strong class="text-rose-700 my-10  flex justify-center items-center">
        <h2
          class=" md:leading-loose herotext mt-4 text-transparent  bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 herotext">
          Events Organised
        </h2>
      </strong>
      <div class="grid grid-cols-1 sm:grid-cols-1 justify-items-center  md:grid-cols-4 gap-4 px-4   radius">
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img src="../../Pictures/event.png" alt="designcrew">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">DHAKYA-DHITI (TECHNO EVENTS)</div>
            <a href="./eventspage/techno.html" class="cta">Explore</a>
          </div>
        </div>
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img  src="../../Pictures/event.png" alt="centralcoordinators">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">VARTTIKA (MANAGEMENT EVENTS)</div>
            <a href="" class="cta">Explore</a>
          </div>
        </div>
        <div
          class="max-w-sm rounded flex coordinatorscard flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img  src="../../Pictures/event.png" alt="Sunset in the mountains">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">ANVESHA (SCIENCE EVENTS)</div>
            <a href="" class="cta">Explore</a>
          </div>
        </div>
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img  src="../../Pictures/event.png" alt="Sunset in the mountains">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">MANTAVYA (LITERARY EVENTS)</div>
            <a href="" class="cta ">Explore</a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-1 justify-items-center  md:grid-cols-4 gap-4 px-4   radius">
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img  src="../../Pictures/event.png" alt="designcrew">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">CENTURION SKILLS</div>
            <a href="" class="cta">Explore</a>
          </div>
        </div>
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img  src="../../Pictures/event.png" alt="centralcoordinators">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">UTSARGA (CULTURAL EVENTS)</div>
            <a href="" class="cta">Explore</a>
          </div>
        </div>
        <div
          class="max-w-sm rounded coordinatorscard flex flex-col justify-center items-center overflow-hidden my-4 shadow-lg">
          <img src="../../Pictures/event.png" alt="centralcoordinators">
          <div class="px-6 py-4 gap-8 flex items-center justify-center flex-col">
            <div class="font-bold text-xl mb-2">INFORMALS</div>
            <a href="" class="cta">Explore</a>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="row">
          <a href="https://www.facebook.com/centurionuniversity/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/cutm_shout_out_/?hl=en"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/@cutmodisha7103"><i class="fa fa-youtube"></i></a>
          <a href="https://twitter.com/CUTMIndia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
              class="fa fa-twitter"></i></a>
          <a
            href="https://www.linkedin.com/school/centurion-university-of-technology-and-management/?originalSubdomain=in"><i
              class="fa fa-linkedin"></i></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/event.html">Events</a></li>
            <li><a href="../pages/coordinators.html">Coordinators</a></li>
            <li><a href="../pages/contact.html">Contacts</a></li>
            <li><a href="../pages/gallery.html">Gallery</a></li>
          </ul>
        </div>

        <div class="row">
          Copyright © 2023 Centurion University of Technology - All rights reserved
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <script src="../js/confetti.js"></script>
</body>

</html>