<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" href="./event.css" />

    <title>Event</title>
  </head>

  <body>
    <!-- Navbar -->
    <Nav>
        <Input Type="checkbox" Id="Nav-Toggle">
        <Div Class="Logo"><Strong>Gajajyoti</Strong></Div>
        <Ul Class="Links">
          <Li><A Href="../gajajyoti.html">Home</A></Li>
          <Li><A Href="../pages/about.html">About</A></Li>
          <Li><A Href="../pages/event.html">Events</A></Li>
          <Li><A Href="../pages/coordinators.html">Coordinators</A></Li>
          <Li><A Href="../pages/contact.html">Contact us</A></Li>
        </Ul>
        <Label For="Nav-Toggle" Class="Icon-Burger">
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
        </Label>
      </Nav>
  </header>
    <!-- Navbar -->

    <!-- <div class="flex-col shrink-0 mx-auto px-4 m-8">
      <img src="./images/Events.jpg"alt="">
    </div> -->
    
      <div class="grid grid-cols-1 mt-20 grid-rows-1 px-4 py-4">
        <img src="./../../Pictures/Events.jpg" alt="" />
      </div>
  

    <!-- Footer -->
    <footer class=" flex flex-col  md:shrink-0 items-center p-2 max-w-full bg-black   text-white mb-0">
      <p class="mb-2 text-xs">CONNECT WITH US</p>
      <a href="https://www.instagram.com/gajajyoti_2022/?utm_medium=copy_link/" target="_blank"><img
          src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" class="h-10 w-10 mb-2" /></a>
      <div class="flex text-xs ">
        <p>2022 Copyright &copy; <a href="cutm.ac.in">Centurion University of Technology and Management</a> | All rights
          reserved.
        </p>
      </div>
    </footer>
    <!-- Footer End -->
    <script src="./js/script.js"></script>
  </body>
</html>
