<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" href="../styles/event.css" />
    <link rel="stylesheet" href="../styles/Navbar.css" />

    <title>Event</title>
  </head>

  <body>
    <!-- Navbar -->
    <Nav>
        <Input Type="checkbox" Id="Nav-Toggle">
        <Div Class="Logo"><Strong>Gajajyoti</Strong></Div>
        <Ul Class="Links">
          <Li><A Href="../gajajyoti.html">Home</A></Li>
          <Li><A Href="../pages/about.html">About</A></Li>
          <Li><A Href="../pages/event.html">Events</A></Li>
          <Li><A Href="../pages/coordinators.html">Coordinators</A></Li>
          <Li><A Href="../pages/contact.html">Contact us</A></Li>
        </Ul>
        <Label For="Nav-Toggle" Class="Icon-Burger">
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
          <Div Class="Line"></Div>
        </Label>
      </Nav>

    <!-- Navbar -->


    <!-- Footer -->

    <!-- Footer End -->
    <script src="./js/script.js"></script>
  </body>
</html>
